body {
	padding-top: 50px;
	color: navy;

	}

.row p::first-letter {
	font-size: 2.8em;
	font-weight: bold;
  }	

h1, h2, h3, h4, h5, h6 {
	color: black;
	}
	
.feature {
	background: blue linear-gradient(to bottom, lightblue, navy );
	color: black;
	}

#feature-carousel {
	min-height: 250px;
	}
	
.article-intro {
    margin-bottom: 25px;
}

.footer-blurb {

    padding: 30px 0;
    color: black;
	background-image: url(hg.jpg);
	background-repeat: repeat-x;
}
    
.footer-blurb-item {
	border-color: navy;
	border-width: 5px;
	border-style: solid;
    padding: 30px;
    }
 
.small-print {
	background-color: #fff;
	padding: 30px 0;
}

.feature,
.page-intro,
.article-intro,
.footer-blurb,
.small-print {
	text-align: left;
	font-size: 12pt
	}
.navbar {
	background-color: navy;
}